services:
  nginx:
    image: nginx:stable-alpine
    container_name: ecozyne_nginx
    ports:
      - "8000:80"
    volumes:
      - ./:/var/www/html
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - php

  php:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: ecozyne_php
    volumes:
      - ./:/var/www/html
    depends_on:
      - db

  db:
    image: mysql:8.0.30
    container_name: ecozyne_db
    environment:
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_DATABASE: ecozyne
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
