@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

:root {
    --sidebar-width: 250px;
    --eco-green: #53B175;
    --eco-blue: #38bdf8;
    --card-bg: #e6ffe6;
}

#sidebar-wrapper {
    width: var(--sidebar-width);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #e0e0e0;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.05);
    transition: all 0.3s ease;
    z-index: 1050;
}

#sidebar-wrapper.active {
    left: 0;
}

.list-group-item.active::before {
    content: ""; /* Wajib */
    position: absolute;
    top: 0;
    left: 0;
    
    /* Ukuran dan Warna Garis */
    width: 5px; /* Ketebalan garis */
    height: 100%; /* Sepanjang tinggi item */
    background-color: #0d6efd; /* Warna garis biru */
    
    /* Pastikan garis ada di atas elemen lain */
    z-index: 10;
}

#sidebar-wrapper .list-group-item.active {
    background-color: #FFF;
    color: #1814F3;
}

#page-content-wrapper {
    margin-left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    min-height: 100vh;
    transition: all 0.3s ease;
    background-color: #D6EDDE;
}

.sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 1040;
    display: none;
}

.sidebar-overlay.active {
    display: block;
}

#input_foto {
    width: 120px; 
    height: 120px; 
    cursor: pointer; 
    font-size: 48px; 
    color: #888;
}

#preview_foto {
    margin-bottom:10px; 
    display:flex; 
    flex-wrap:wrap; 
    gap:10px;
}

.hover-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.btn-success {
    background-color: #38A169;
    border: none;
}

.btn-success:hover {
    background-color: #2F855A;
}

.btn-outline-success {
    border-color: #00C896; /* Warna hijau muda */
    color: #00C896;
}

.btn-outline-success:hover {
    background-color: #00C896;
    color: #fff;
}

.alert-success {
    background-color: #E6FFF3; /* Latar belakang alert sukses */
    color: #13855C;
}

.alert-info {
    background-color: #E7F6F2; /* Latar belakang alert info */
    color: #317773;
}

@media (max-width: 992px) {
    #sidebar-wrapper {
        left: -250px; 
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
    }

    #page-content-wrapper {
        margin-left: 0;
        width: 100%;
    }

    #sidebar-wrapper.active {
        left: 0;
    }
}
